<h1>Brave Fantasia</h1>
<nav>
    <br>
    <br>
    <a href="#" id="myBtn">Login</a>
    <a href="/Users/adefahrisyany/Desktop/CSS%20Library/header/video_background/account/index.html " id="myBtn ">/Your Account/</a>
    <a href="#">How to play</a>
    <a href="#">Contact Us</a>

    