<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/public/register.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/public/registration.js"></script>
</head>

<body>

    <%- include ./../partials/errors.ejs %>

    <div class="container">
        <div class="wrapper">
          <ul class="steps">
            <li class="is-active">Registration</li>
          </ul>
           <form action="/registration" class="form-wrapper" method='POST'>
            <fieldset class="section is-active">
              <h3>Your Details</h3>
              <input type="text" name="username" id="name" placeholder="Name">
              <input type="password" name="password" id="email" placeholder="password">
              <button type="submit">Register</button>
            </fieldset>
          </form>
         </div>
      </div>
      <img src="https://i.imgur.com/PAjSdEO.png">

</body>

</html>