<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
    <style>
      div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
    </style>
</head>

<body>
    <header>
            <%- include ./../partials/header.ejs %>
    </header>
    <section class="content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <br>
          <br>
          
          <br>
          <br>
          <br>
          <h1>Cards you own:</h1>

        <%- include ./../partials/loopingCard.ejs %>
        <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          Write 5 card names you want to add to deck
          <br>
          <br>
          <br>
          <form action="/decklist/edit" method="POST">
            Card #1:<br>
            <input type="text" name="card1">
            <br>
            Card #2:<br>
            <input type="text" name="card2">
            <br><br>
            Card #3:<br>
            <input type="text" name="card3">
            <br>
            Card #4:<br>
            <input type="text" name="card4">
            <br><br>
            Card #5:<br>
            <input type="text" name="card5">
            <br>
            <input type="submit" value="Submit">
          </form> 
    </section>

</body>

</html>